* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ffffff;
}

#logo {
	height: 60px;
	background-color: #dadada
}

table {
	width: 1300px;
	margin: auto;
	border-collapse: collapse;
}

#header, #footer {
	height: 80px;
	background-color: #99CCFF;
	text-align: center;
}

#content {
	text-align: center;
}

#table_content {
	height: 1600px;
}